body{
    background-color: black;
    font-family: 'Thunderstrike', sans-serif;
    font-family: 'Thunderstrike 3D', sans-serif;
    font-family: 'Thunderstrike Gradient', sans-serif;
    font-family: 'Thunderstrike Halftone', sans-serif;
    font-family: 'Thunderstrike Laser', sans-serif;
    font-family: 'Thunderstrike Condensed', sans-serif;
    font-family: 'Thunderstrike Expanded', sans-serif;
    font-family: 'Thunderstrike Italic', sans-serif;
    color: blue;
}
h1{
    color: blue;
}
h3{
    color: red;
}
strong{
    color: red;
}
script{
    color: blue;
}